<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <nav id="topbar">Mamoru Oshii</nav>
    <div id="leftDiv">
        <div id="oshiiDiv">
            <img src="/images/oshii-bio.jpg" alt="oshii" id="oshiiImage">
        </div>
        <div id="bornDiv">
            <p id="date">8 August 1951 - Hopefully Never</p>
        </div>
    </div>
    <div id="mainDiv">
        <div id="rightDiv">
            <p class="topbio">
                <span class="paragraphStart">Mamoru Oshii</span> is a Japanese filmmaker, television director and writer. Famous for his philosophy-oriented storytelling, Oshii has directed a number of acclaimed anime films, including Urusei Yatsura 2: Beautiful Dreamer (1984), Angel's Egg (1985), Patlabor 2: The Movie (1993), and Ghost in the Shell (1995). He also holds the distinction of having created the first ever OVA, Dallos (1983). As a writer, Oshii has worked as a screenwriter, and occasionally as a manga writer and novelist. His most notable works as a writer include the manga Kerberos Panzer Cop (1988-2000) and its feature film adaptation Jin-Roh: The Wolf Brigade (1999). 
            </p>
            <p class="bio">
                <span class="paragraphStart">Oshii</span> has stated his approach to directing is in direct contrast to what he perceives to be the Hollywood formula, i.e. he regards the visuals as the most important aspect, followed by the story and the characters come last. He also notes that his main motivation in making films is to "create worlds different from our own."
            </p>
           <p class="bio">
                <span class="paragraphStart">Mamoru Oshii</span> films typically open with an action sequence. Thereafter, the film usually follows a much slower rhythm punctuated by several sequences of fast action. Oshii also frequently inserts a montage sequence in each of his movies, typically two-minutes long, muted of dialogue and set against the backdrop of Kenji Kawai's music. Recurrent imagery include reflections/mirrors, flocks of birds, and basset hounds similar to his own. The basset hound was seen most prominently in Ghost in the Shell 2: Innocence, and was a major plot point in his live-action film Avalon. 
           </p>
           <p class="bio">
                <span class="paragraphStart">Oshii</span> is especially noted for how he significantly strays from the source material his films are based on, such as in his adaptations of Urusei Yatsura, Patlabor, and Ghost in the Shell. In their original manga versions, these three titles exhibited a mood that was more along the lines of frantic slapstick comedy (Urusei Yatsura) or convivial dramedy (Patlabor, Ghost in the Shell). Oshii, in adapting the works created a slower and darker atmosphere especially noticeable in Urusei Yatsura 2: Beautiful Dreamer and Patlabor 2: The Movie. For the Ghost in the Shell movie, Oshii elected to leave out the humor and character banter of Masamune Shirow's original manga. 
           </p>
           <p class="bio">
                <span class="paragraphStart">Oshii's</span> work "... steers clear of such stereotypes in both image and sexual orientation," wrote Andrez Bergen in an article on Oshii that appeared in Japan's Daily Yomiuri newspaper in 2004. "His movies are dark, thought-provoking, minimalist diatribes with an underlying complexity; at the same time he pushes the perimeters of technology when it comes to the medium itself. Character design plays equitable importance."
           </p>
           <p class="bio">
                <span class="paragraphStart">Oshii</span> also wrote and directed several animated movies and live-action films based on his personal political views, influenced by the Anpo protests of the 1960s and 1970s in which he participated. The Anpo protests were protests during 1960s Japan against the US-Japan Security Treaty. The first film to touch on this political background was the live-action film The Red Spectacles. This film, set in the same world as the Oshii-scripted film Jin-Roh: The Wolf Brigade (1999), is about a former member of the special unit of the Tokyo Metropolitan Police Force dealing with a fascist government. 
           </p>
           <p class="bottombio">
                <span class="paragraphStart">Mamoru Oshii</span> has worked extensively with Production I.G. Every animated film he has made since Patlabor: The Movie (1989) has been produced under the studio. He also worked closely with screenwriter Kazunori Itō; they made five films together, beginning with The Red Spectacles and ending with Avalon. His closest colleague, however, is music composer Kenji Kawai. Kawai has composed most of the music in Oshii's work, including ten of his feature films. According to Oshii, "Kenji Kawai's music is responsible for 50 percent of [his] films' successes" and he "can't do anything without [Kenji Kawai]."
            </p>
        </div>
    </div>
</body>
</html>