<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <section id="topHalf">
        <p id="welcome">
            Welcome! 
        </p>
        <p id="restText">
            to the Mamoru Oshii Tribute page
        </p>
    </section>
    <section id="bottomHalf">
        <div id="aboutDiv">
            <p id="about">
                About
            </p>
            <p id="greatDirector">the great director</p>
            <div id="mImageWrapper">
                <img src="/images/oshii.jpg" alt="mamoru oshii" id="mamoruImage" class="zoom">
            </div>
        </div>
        <div id="worksDiv">
            <p id="works">
                Take a look at his extensive  
            </p>
            <p id="bodyOfWorks">
                body of works
            </p>
            <div id="wImageWrapper">
                <img src="/images/works.jpg" alt="works" id="worksImage" class="zoom">
            </div>
        </div>
    </section>
</body>
</html>