<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/works.css">
</head>
<body>
    <div class="halfDiv">
        <div class="movie">
            <p>
                Urusei Yatsura: Only You
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Urusei_Yatsura:_Only_You"><img src="/images/uruseiyatsura.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Angel's Egg
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Angel%27s_Egg"><img src="/images/angelsegg.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Patlabor
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Patlabor:_The_Movie"><img src="/images/patlabor.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Patlabor 2
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Patlabor_2:_The_Movie"><img src="/images/patlabor2.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
    </div>
    <div class="halfDiv">
        <div class="movie">
            <p>
                Ghost in the Shell
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Ghost_in_the_Shell_(1995_film)"><img src="/images/gits.jpeg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Ghost in the Shell 2: Innocence
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Ghost_in_the_Shell_2:_Innocence"><img src="/images/gits2.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Gosenzo-sama Banbanzai!
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Gosenzo-sama_Banbanzai!"><img src="/images/gosenzo.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
        <div class="movie">
            <p>
                Vladlove
            </p>
            <div class="imageWrapper">
                <a href="https://en.wikipedia.org/wiki/Vlad_Love"><img src="/images/vladlove.jpg" alt="" class="shot zoom"></a>
            </div>
        </div>
    </div>
</body>
</html>